In [10]:
import sqlite3
import pandas as pd

# Connect to the SQLite database
conn = sqlite3.connect("trading.db")

# Read the tables into pandas DataFrames
orders_df = pd.read_sql("SELECT * FROM orders", conn)
positions_df = pd.read_sql("SELECT * FROM positions", conn)
fills_df = pd.read_sql("SELECT * FROM fills", conn)
portfolio_df = pd.read_sql("SELECT * FROM portfolio_state", conn)
daily_df = pd.read_sql("SELECT * FROM daily_metrics", conn)
metrics_df = pd.read_sql("SELECT * FROM strategy_metrics", conn)




# Close the connection
conn.close()

# Display the first few rows
print("Orders Table:")
print(orders_df.head())

print("\nPositions Table:")
print(positions_df.head())

Orders Table:
                               order_id    symbol  side  quantity order_type  \
0  5bb0e0f3-267c-4ca7-bfeb-491cf6d4f7fa  RELIANCE   buy         5     market
1  21bd8329-184b-49bc-b926-3465b54b5ce0  RELIANCE  sell         5     market
2  72e6e9fb-8d56-4a39-87cb-4e158eef713d  RELIANCE   buy         5     market
3  71201f9a-9f38-457e-9eb6-f6b684caef13       TCS   buy         5     market
4  a7d98176-230f-4261-9e6c-298135914f36  RELIANCE  sell         5     market

  price stop_price  status  filled_quantity  average_price  \
0  None       None  filled                5      93.581196
1  None       None  filled                5      96.857695
2  None       None  filled                5      91.710237
3  None       None  filled                5      90.379521
4  None       None  filled                5      94.634152

                    timestamp   strategy_id  stop_loss  take_profit  \
0  2025-11-08T18:20:55.204816  RSI_RELIANCE  91.700402    96.378994
1  2025-11-08T18:22:10.588790  RSI_RELIANCE        NaN          NaN
2  2025-11-08T18:23:41.148287  RSI_RELIANCE  89.867046    94.452099
3  2025-11-08T18:24:26.419087       RSI_TCS  88.563075    93.081599
4  2025-11-08T18:24:26.455213  RSI_RELIANCE        NaN          NaN

                   created_at
0  2025-11-08T18:20:55.227271
1  2025-11-08T18:22:10.904179
2  2025-11-08T18:23:41.598360
3  2025-11-08T18:24:26.752519
4  2025-11-08T18:24:26.879507

Positions Table:
   position_id    symbol  quantity  average_price  current_price  stop_loss  \
0          138  RELIANCE        10      76.275927        76.2683  74.742934

   take_profit        strategy_id                   opened_at  \
0    79.319032  MA_CROSS_RELIANCE  2025-11-08T19:01:38.099636

                 last_updated
0  2025-11-08T19:01:38.099636

In [11]:
orders_df.columns

Index(['order_id', 'symbol', 'side', 'quantity', 'order_type', 'price',
       'stop_price', 'status', 'filled_quantity', 'average_price', 'timestamp',
       'strategy_id', 'stop_loss', 'take_profit', 'created_at'],
      dtype='object')

In [12]:
positions_df

,position_id,symbol,quantity,average_price,current_price,stop_loss,take_profit,strategy_id,opened_at,last_updated
0,138,RELIANCE,10,76.275927,76.2683,74.742934,79.319032,MA_CROSS_RELIANCE,2025-11-08T19:01:38.099636,2025-11-08T19:01:38.099636

In [34]:
fills_df.shape

(263, 8)

In [27]:
daily_df.tail()

,id,date,opening_equity,closing_equity,high_equity,low_equity,realized_pnl,unrealized_pnl,total_pnl,commissions,trades_count,winning_trades,losing_trades,max_drawdown,peak_equity,win_rate
0,263,2025-11-08,100000.0,99985.05042,100003.467042,99391.971464,-14.873312,-0.076268,-14.94958,18.031609,33,4,12,611.495578,100003.467042,0.121212

In [ ]:
portfolio_df.tail(1) ## portfolio_overview

,id,timestamp,cash,total_equity,total_value,total_realized_pnl,total_unrealized_pnl,total_pnl,total_commission,exposure,initial_capital
525,526,2025-11-08T19:01:38.144459,99204.335811,99985.05042,99967.018811,-14.873312,-0.076268,-14.94958,18.031609,762.683,100000.0

In [29]:
orders_df.columns ## all trades

Index(['order_id', 'symbol', 'side', 'quantity', 'order_type', 'price',
       'stop_price', 'status', 'filled_quantity', 'average_price', 'timestamp',
       'strategy_id', 'stop_loss', 'take_profit', 'created_at'],
      dtype='object')

In [38]:
fills_df[fills_df['order_id'] == '5bb0e0f3-267c-4ca7-bfeb-491cf6d4f7fa']

,fill_id,order_id,symbol,side,quantity,price,commission,timestamp
0,1,5bb0e0f3-267c-4ca7-bfeb-491cf6d4f7fa,RELIANCE,buy,5,93.581196,0.467906,2025-11-08T18:20:55.224804

In [ ]:
orders_df[orders_df['order_id'] == '5bb0e0f3-267c-4ca7-bfeb-491cf6d4f7fa']

,order_id,symbol,side,quantity,order_type,price,stop_price,status,filled_quantity,average_price,timestamp,strategy_id,stop_loss,take_profit,created_at
0,5bb0e0f3-267c-4ca7-bfeb-491cf6d4f7fa,RELIANCE,buy,5,market,None,None,filled,5,93.581196,2025-11-08T18:20:55.204816,RSI_RELIANCE,91.700402,96.378994,2025-11-08T18:20:55.227271
1,21bd8329-184b-49bc-b926-3465b54b5ce0,RELIANCE,sell,5,market,None,None,filled,5,96.857695,2025-11-08T18:22:10.588790,RSI_RELIANCE,NaN,NaN,2025-11-08T18:22:10.904179
2,72e6e9fb-8d56-4a39-87cb-4e158eef713d,RELIANCE,buy,5,market,None,None,filled,5,91.710237,2025-11-08T18:23:41.148287,RSI_RELIANCE,89.867046,94.452099,2025-11-08T18:23:41.598360
3,71201f9a-9f38-457e-9eb6-f6b684caef13,TCS,buy,5,market,None,None,filled,5,90.379521,2025-11-08T18:24:26.419087,RSI_TCS,88.563075,93.081599,2025-11-08T18:24:26.752519
4,a7d98176-230f-4261-9e6c-298135914f36,RELIANCE,sell,5,market,None,None,filled,5,94.634152,2025-11-08T18:24:26.455213,RSI_RELIANCE,NaN,NaN,2025-11-08T18:24:26.879507
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
258,685b8243-12a6-4304-951b-c8048b706bbb,RELIANCE,buy,5,market,None,None,filled,5,73.647823,2025-11-08T19:01:23.827456,RSI_RELIANCE,72.167649,75.849672,2025-11-08T19:01:23.985858
259,f71176d2-170f-4a9b-b6d2-25d6fb467deb,INFY,buy,10,market,None,None,filled,10,106.078018,2025-11-08T19:01:25.993970,MA_CROSS_INFY,103.946063,110.310108,2025-11-08T19:01:26.132048
260,ed2b1f17-ae03-4d24-8a62-b67f22a8e22e,INFY,sell,10,market,None,None,filled,10,111.988919,2025-11-08T19:01:28.150438,MA_CROSS_INFY,NaN,NaN,2025-11-08T19:01:28.283361
261,2b9ab27e-ea91-45fd-82bf-33a67951ce9d,RELIANCE,sell,5,market,None,None,filled,5,71.505487,2025-11-08T19:01:31.453426,RSI_RELIANCE,NaN,NaN,2025-11-08T19:01:31.939292
262,f4ac5602-a113-4012-894b-b9a58ca7ace9,RELIANCE,buy,10,market,None,None,filled,10,76.275927,2025-11-08T19:01:37.954229,MA_CROSS_RELIANCE,74.742934,79.319032,2025-11-08T19:01:38.101807