In [299]:
import sqlite3
import pandas as pd

# Connect to the SQLite database
conn = sqlite3.connect("trading.db")

# Read the tables into pandas DataFrames
orders_df = pd.read_sql("SELECT * FROM orders", conn)
positions_df = pd.read_sql("SELECT * FROM positions", conn)
fills_df = pd.read_sql("SELECT * FROM fills", conn)
portfolio_df = pd.read_sql("SELECT * FROM portfolio_state", conn)
daily_df = pd.read_sql("SELECT * FROM daily_metrics", conn)
metrics_df = pd.read_sql("SELECT * FROM strategy_metrics", conn)
trade_logs_df = pd.read_sql("SELECT * FROM trades", conn)
market_df = pd.read_sql("SELECT * FROM market_data", conn)


# Close the connection
conn.close()

In [300]:
orders_df.columns

Index(['order_id', 'symbol', 'side', 'quantity', 'order_type', 'price',
       'stop_price', 'status', 'filled_quantity', 'average_price', 'timestamp',
       'strategy_id', 'stop_loss', 'take_profit', 'created_at'],
      dtype='object')

In [301]:
positions_df.shape

(3, 10)

In [302]:
fills_df.shape

(280, 8)

In [303]:
daily_df.tail()

,id,date,opening_equity,closing_equity,high_equity,low_equity,realized_pnl,unrealized_pnl,total_pnl,commissions,trades_count,winning_trades,losing_trades,max_drawdown,peak_equity,win_rate
0,280,2025-11-10,100000.0,99763.379253,101077.809473,99552.557967,-203.087567,-33.53318,-236.620747,142.878062,280,37,102,1525.251506,101077.809473,0.132143

In [304]:
portfolio_df.tail(1) ## portfolio_overview

,id,timestamp,cash,total_equity,total_value,total_realized_pnl,total_unrealized_pnl,total_pnl,total_commission,exposure,initial_capital
559,560,2025-11-10T12:44:30.400881,98519.498266,99763.379253,99620.50119,-203.087567,-33.53318,-236.620747,142.878062,1101.002924,100000.0

In [305]:
orders_df.columns ## all trades

Index(['order_id', 'symbol', 'side', 'quantity', 'order_type', 'price',
       'stop_price', 'status', 'filled_quantity', 'average_price', 'timestamp',
       'strategy_id', 'stop_loss', 'take_profit', 'created_at'],
      dtype='object')

In [306]:
trade_logs_df.strategy_id.unique()

array(['RSI_RELIANCE', 'RSI_ADANIPORTS', 'RSI_ASIANPAINT', 'RSI_ADANIENT',
       'RSI_ICICIBANK', 'EMA_X_RELIANCE', 'ADX_ST_ASIANPAINT',
       'EMA_X_ADANIENT', 'EMA_X_ICICIBANK', 'EMA_X_ADANIPORTS',
       'EMA_X_ASIANPAINT', 'ADX_ST_RELIANCE', 'ADX_SIG_ADANIPORTS',
       'ADX_SIG_ICICIBANK', 'ADX_SIG_ADANIENT'], dtype=object)

In [307]:
# trade_logs_df[trade_logs_df['strategy_id'] == 'ORB_ADANIPORTS']
# df = trade_logs_df[trade_logs_df['status'] == 'closed']
# df[df['strategy_id'] == 'RSI_ADANIENT']

In [308]:
positions_df[positions_df['strategy_id'] == 'RSI_ADANIENT']

Empty DataFrame
Columns: [position_id, symbol, quantity, average_price, current_price, stop_loss, take_profit, strategy_id, opened_at, last_updated]
Index: []

In [309]:
market_df['timestamp'] = pd.to_datetime(market_df['timestamp'], format='mixed')
market_df.sort_values('timestamp', inplace=True, ascending=True)
market_df.set_index('timestamp', inplace=True)
market_df[market_df['symbol'] == 'RELIANCE']

,id,symbol,open,high,low,close,volume
timestamp,,,,,,,
2025-11-10 12:07:54.097663,1,RELIANCE,100.000000,100.038056,99.898235,99.922342,1734
2025-11-10 12:08:06.221749,292,RELIANCE,100.000000,100.195010,99.917051,99.992977,464
2025-11-10 12:08:16.451220,401,RELIANCE,100.000000,100.096910,99.774524,99.981199,599
2025-11-10 12:08:54.097663,2,RELIANCE,99.922342,100.055616,99.825865,99.949714,1710
2025-11-10 12:09:06.221749,293,RELIANCE,99.992977,100.217262,99.943215,100.124988,1311
...,...,...,...,...,...,...,...
2025-11-10 12:44:27.287801,3112,RELIANCE,102.778800,103.204694,98.856012,98.907453,9398
2025-11-10 12:44:28.649814,3122,RELIANCE,98.907453,99.364074,97.567298,98.070840,8484
2025-11-10 12:44:30.100714,3132,RELIANCE,98.070840,98.711952,98.004010,98.504139,2895
2025-11-10 12:44:31.490781,3142,RELIANCE,98.504139,98.970677,94.631072,94.942006,9532
2025-11-10 12:44:32.896077,3152,RELIANCE,94.942006,95.326170,93.098845,93.582516,4405

In [310]:
positions_df['opened_at'] = pd.to_datetime(positions_df['opened_at'])
positions_df['last_updated'] = pd.to_datetime(positions_df['last_updated'])
positions_df.sort_values('opened_at', inplace=True, ascending=False)
positions_df[['opened_at', 'strategy_id', 'average_price']].head(2)

  opened_at       strategy_id  average_price
0       NaT    RSI_ADANIPORTS     125.629519
1       NaT  ADX_SIG_ADANIENT      95.492214

In [311]:
positions_df.columns

Index(['position_id', 'symbol', 'quantity', 'average_price', 'current_price',
       'stop_loss', 'take_profit', 'strategy_id', 'opened_at', 'last_updated'],
      dtype='object')

In [312]:
trade_logs_df['entry_time'] = pd.to_datetime(trade_logs_df['entry_time'])
trade_logs_df['exit_time'] = pd.to_datetime(trade_logs_df['exit_time'])
trade_logs_df.sort_values(by='entry_time', inplace=True, ascending=False)

In [313]:

trade_logs_df[['entry_time', 'exit_time', 'strategy_id', 'trade_type', 'status']].head()

,entry_time,exit_time,strategy_id,trade_type,status
140,2025-11-10 12:44:29.180419,2025-11-10 12:44:30.222844,EMA_X_RELIANCE,SHORT,closed
139,2025-11-10 12:44:27.939054,2025-11-10 12:44:29.460154,EMA_X_ASIANPAINT,LONG,closed
138,2025-11-10 12:44:25.144778,2025-11-10 12:44:26.680537,EMA_X_ASIANPAINT,LONG,closed
137,2025-11-10 12:44:24.936794,NaT,ADX_SIG_ADANIPORTS,LONG,open
136,2025-11-10 12:44:14.455994,NaT,ADX_SIG_ADANIENT,LONG,open

In [314]:
market_df.index = pd.to_datetime(market_df.index)
market_df.index = pd.to_datetime(market_df.index)

# Define the cutoff timestamp
cutoff = pd.Timestamp("2025-11-10 12:41:20")

# Filter rows where index (timestamp) > cutoff
market_df = market_df[market_df.index > cutoff]

adaniports_df = market_df[market_df['symbol'] == 'ADANIPORTS']
# market_df.columns

In [315]:
import numpy as np
import talib 
adaniports_df['SMA_10'] = adaniports_df['close'].rolling(window=10).mean()
adaniports_df['SMA_30'] = adaniports_df['close'].rolling(window=30).mean()
adaniports_df['RSI_14'] = talib.RSI(adaniports_df['close'], timeperiod=14)

adaniports_df['Signal'] = np.where(adaniports_df['SMA_10'] > adaniports_df['SMA_30'], 1, 0)

C:\Users\aryan\AppData\Local\Temp\ipykernel_6392\2077171079.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adaniports_df['SMA_10'] = adaniports_df['close'].rolling(window=10).mean()
C:\Users\aryan\AppData\Local\Temp\ipykernel_6392\2077171079.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adaniports_df['SMA_30'] = adaniports_df['close'].rolling(window=30).mean()
C:\Users\aryan\AppData\Local\Temp\ipykernel_6392\2077171079.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adaniports_df['RSI_14'] = talib.RSI(adaniports_df['close'], timeperiod=14)
C:\Users\aryan\AppData\Local\Temp\ipykernel_6392\2077171079.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adaniports_df['Signal'] = np.where(adaniports_df['SMA_10'] > adaniports_df['SMA_30'], 1, 0)

In [ ]:
adaniports_df[adaniports_df['RSI_14'] > 70]

,id,symbol,open,high,low,close,volume,SMA_10,SMA_30,RSI_14,Signal
timestamp,,,,,,,,,,,
2025-11-10 12:41:41.221481,1936,ADANIPORTS,123.772029,124.880943,123.535454,124.852502,2468,123.394352,NaN,66.489024,0
2025-11-10 12:41:42.593710,1946,ADANIPORTS,124.852502,128.936465,124.338357,128.471463,1545,123.879909,NaN,69.456404,0
2025-11-10 12:41:44.093544,1956,ADANIPORTS,128.471463,129.884060,124.522474,125.602381,6089,124.391018,NaN,64.574482,0
2025-11-10 12:41:45.508720,1966,ADANIPORTS,125.602381,126.062629,125.358588,125.463363,5024,124.619284,NaN,64.338509,0
2025-11-10 12:41:46.937964,1976,ADANIPORTS,125.463363,129.194911,125.088405,128.932958,1104,124.540456,NaN,67.527876,0
...,...,...,...,...,...,...,...,...,...,...,...
2025-11-10 12:44:27.424886,3116,ADANIPORTS,131.414387,131.966246,128.129214,128.676207,4938,128.660528,124.251291,57.053198,1
2025-11-10 12:44:28.805869,3126,ADANIPORTS,128.676207,129.995898,128.321160,128.435477,8860,129.346866,124.620430,56.397984,1
2025-11-10 12:44:30.214095,3136,ADANIPORTS,128.435477,130.330576,127.802087,129.164601,5145,129.983104,125.008047,57.972306,1
2025-11-10 12:44:31.669114,3146,ADANIPORTS,129.164601,130.163281,129.120759,129.734255,8321,130.148208,125.424862,59.211444,1
2025-11-10 12:44:33.036209,3155,ADANIPORTS,129.734255,130.496747,126.195955,127.172392,4913,129.971142,125.639415,51.812822,1

In [317]:
trade_logs_df.columns

Index(['trade_id', 'order_id', 'symbol', 'strategy_id', 'trade_type', 'status',
       'entry_time', 'entry_price', 'exit_time', 'exit_price', 'stop_loss',
       'take_profit', 'ltp'],
      dtype='object')

In [318]:
# trade_logs_df[(trade_logs_df['strategy_id'] == 'MA_CROSS_ADANIPORTS')]
trade_logs_df.head(5)

,trade_id,order_id,symbol,strategy_id,trade_type,status,entry_time,entry_price,exit_time,exit_price,stop_loss,take_profit,ltp
140,141,bc050c5e-b0d5-4628-a1b4-6fde41415a9d,RELIANCE,EMA_X_RELIANCE,SHORT,closed,2025-11-10 12:44:29.180419,98.061033,2025-11-10 12:44:30.222844,98.513990,107.298093,102.038383,98.504139
139,140,e451eba8-2761-48f0-89bf-b3bbc33a60b6,ASIANPAINT,EMA_X_ASIANPAINT,LONG,closed,2025-11-10 12:44:27.939054,151.159110,2025-11-10 12:44:29.460154,147.285617,NaN,NaN,147.300347
138,139,58d77750-39cc-4eb7-ac7f-5794dacf02d6,ASIANPAINT,EMA_X_ASIANPAINT,LONG,closed,2025-11-10 12:44:25.144778,150.950117,2025-11-10 12:44:26.680537,147.069572,NaN,NaN,147.084280
137,138,33a4747a-2eea-4bde-b6f3-497085c234fc,ADANIPORTS,ADX_SIG_ADANIPORTS,LONG,open,2025-11-10 12:44:24.936794,131.415007,NaT,NaN,124.341064,145.523472,127.172392
136,137,b09af758-c7df-4378-9f67-3e74b81ff292,ADANIENT,ADX_SIG_ADANIENT,LONG,open,2025-11-10 12:44:14.455994,95.492214,NaT,NaN,88.459610,109.528779,91.189801