In [136]:
import sqlite3
import pandas as pd

# Connect to the SQLite database
conn = sqlite3.connect("trading.db")

# Read the tables into pandas DataFrames
orders_df = pd.read_sql("SELECT * FROM orders", conn)
positions_df = pd.read_sql("SELECT * FROM positions", conn)
fills_df = pd.read_sql("SELECT * FROM fills", conn)
portfolio_df = pd.read_sql("SELECT * FROM portfolio_state", conn)
daily_df = pd.read_sql("SELECT * FROM daily_metrics", conn)
metrics_df = pd.read_sql("SELECT * FROM strategy_metrics", conn)
trade_logs_df = pd.read_sql("SELECT * FROM trades", conn)



# Close the connection
conn.close()

In [137]:
orders_df.columns

Index(['order_id', 'symbol', 'side', 'quantity', 'order_type', 'price',
       'stop_price', 'status', 'filled_quantity', 'average_price', 'timestamp',
       'strategy_id', 'stop_loss', 'take_profit', 'created_at'],
      dtype='object')

In [138]:
positions_df

,position_id,symbol,quantity,average_price,current_price,stop_loss,take_profit,strategy_id,opened_at,last_updated
0,32,ADANIPORTS,5,89.430032,89.421090,87.632668,92.103723,RSI_ADANIPORTS,None,2025-11-08T22:26:01.785092
1,33,ASIANPAINT,-5,115.401686,115.413228,117.721492,111.950831,RSI_ASIANPAINT,None,2025-11-08T22:26:16.914090

In [139]:
fills_df.shape

(60, 8)

In [140]:
daily_df.tail()

,id,date,opening_equity,closing_equity,high_equity,low_equity,realized_pnl,unrealized_pnl,total_pnl,commissions,trades_count,winning_trades,losing_trades,max_drawdown,peak_equity,win_rate
0,60,2025-11-08,99655.326103,100103.133657,101219.948891,99655.326103,98.563603,4.570054,103.133657,35.87628,34,5,12,1121.322164,101219.948891,0.147059

In [141]:
portfolio_df.tail(1) ## portfolio_overview

,id,timestamp,cash,total_equity,total_value,total_realized_pnl,total_unrealized_pnl,total_pnl,total_commission,exposure,initial_capital
119,120,2025-11-08T22:26:17.397090,101605.000106,100103.133657,101479.711888,98.563603,4.570054,103.133657,35.87628,1028.844059,100000.0

In [142]:
orders_df.columns ## all trades

Index(['order_id', 'symbol', 'side', 'quantity', 'order_type', 'price',
       'stop_price', 'status', 'filled_quantity', 'average_price', 'timestamp',
       'strategy_id', 'stop_loss', 'take_profit', 'created_at'],
      dtype='object')

In [ ]:
# trade_logs_df

,trade_id,order_id,symbol,strategy_id,trade_type,status,entry_time,entry_price,exit_time,exit_price,stop_loss,take_profit,ltp
0,1,882e7b5c-dbad-4fa0-9249-5ef42ca7647d,TCS,RSI_TCS,SHORT,closed,2025-11-08T21:50:45.081990,102.464299,2025-11-08T21:51:15.234407,103.632947,104.524038,99.400310,103.622585
1,2,e6a26f30-6835-472e-a882-5ffa438e0ae5,INFY,RSI_INFY,LONG,closed,2025-11-08T21:51:15.396329,95.300836,2025-11-08T21:52:00.566553,91.990572,93.385481,98.150046,91.999772
2,3,15c6fbb9-4592-4c65-96c8-1ba0381baa26,INFY,RSI_INFY,LONG,closed,2025-11-08T21:52:15.212974,92.235156,2025-11-08T21:53:15.688036,96.863562,90.381415,94.992712,96.873250
3,4,2948b7ad-d9b1-4c3a-8ecf-9af52ad54800,RELIANCE,RSI_RELIANCE,LONG,closed,2025-11-08T21:52:45.368587,96.306848,2025-11-08T22:09:28.455519,100.780730,94.371274,99.186135,100.790809
4,5,6b95dc20-244e-4de2-9150-c51f390458bd,TCS,MA_CROSS_TCS,SHORT,closed,2025-11-08T21:52:45.521356,99.106136,2025-11-08T21:54:31.481434,94.705162,101.098369,95.151406,94.695692
5,6,261aedbc-c44b-4ee4-b912-50c4ba6afeca,INFY,MA_CROSS_INFY,LONG,closed,2025-11-08T21:54:01.371609,93.092027,2025-11-08T22:02:59.418970,100.210525,91.221064,96.806028,100.220547
6,7,a70d9ef8-6c84-45e4-8f70-5cde244ae0aa,TCS,RSI_TCS,LONG,closed,2025-11-08T21:54:31.625990,94.705162,2025-11-08T22:02:59.559095,99.889891,92.801778,97.536563,99.899881
7,8,822daec5-fcac-41f0-ae06-645b698a5aa5,ADANIENT,RSI_ADANIENT,LONG,closed,2025-11-08T22:19:29.006534,96.195389,2025-11-08T22:19:59.331226,94.064178,94.262055,99.071343,94.073586
8,9,fd38afc2-5dda-4260-900e-af5075ab2ce9,ADANIPORTS,RSI_ADANIPORTS,LONG,closed,2025-11-08T22:19:44.164252,95.112735,2025-11-08T22:21:28.662910,99.535881,93.201161,97.956322,99.545835
9,10,cf915ddb-d4f8-496b-b93b-a0608eac96a4,ADANIENT,RSI_ADANIENT,LONG,closed,2025-11-08T22:20:14.477223,94.492074,2025-11-08T22:21:28.823794,98.977151,92.592973,97.317105,98.987050
10,11,55d6c70a-369e-4136-ac7b-cc328d612993,ASIANPAINT,RSI_ASIANPAINT,SHORT,closed,2025-11-08T22:23:30.047455,106.237675,2025-11-08T22:24:30.871712,106.875943,108.373266,103.060851,106.865256
11,12,a6c197a1-e87e-4917-8121-e49c4ba22363,ADANIPORTS,RSI_ADANIPORTS,LONG,closed,2025-11-08T22:23:30.182321,94.865099,2025-11-08T22:24:31.015336,92.721232,92.958501,97.701282,92.730505
12,13,57a372c8-252f-4971-8fde-b070eb95f85f,ICICIBANK,RSI_ICICIBANK,SHORT,closed,2025-11-08T22:23:30.317748,102.665962,2025-11-08T22:23:45.109618,106.199932,104.729754,99.595943,106.189313
13,14,80868342-3350-4819-a7c8-1cdd00efae1c,ADANIENT,RSI_ADANIENT,SHORT,closed,2025-11-08T22:23:30.457855,104.090923,2025-11-08T22:24:00.551805,100.751099,106.183360,100.978293,100.741025
14,15,32e3ead2-6cf4-4145-b840-43faea4005da,RELIANCE,RSI_RELIANCE,SHORT,closed,2025-11-08T22:24:00.265920,111.547785,2025-11-08T22:24:45.850015,105.504538,113.790120,108.212173,105.493989
15,16,733c4869-6511-4adb-abe1-de6365ad0531,ICICIBANK,RSI_ICICIBANK,SHORT,closed,2025-11-08T22:24:00.410657,106.393381,2025-11-08T22:24:15.709608,109.252493,108.532102,103.211900,109.241569
16,17,45bae2c7-4016-4c7d-9c61-7a5cd5e649fa,ASIANPAINT,RSI_ASIANPAINT,SHORT,closed,2025-11-08T22:24:45.670473,106.870517,2025-11-08T22:25:01.149068,108.479350,109.018829,103.674769,108.468503
17,18,7a77b0bb-5a83-4674-969b-de1b4b305639,ADANIENT,RSI_ADANIENT,SHORT,closed,2025-11-08T22:24:46.495816,105.567778,2025-11-08T22:25:01.295584,108.630577,107.689903,102.410986,108.619715
18,19,94f4aa7e-a140-46c7-b156-1345c3467cb7,ASIANPAINT,RSI_ASIANPAINT,SHORT,closed,2025-11-08T22:25:15.957443,113.362657,2025-11-08T22:25:16.643216,113.385332,115.641475,109.972775,113.373995
19,20,7da6d75a-5231-413d-923a-76afc32a8708,ADANIPORTS,RSI_ADANIPORTS,LONG,closed,2025-11-08T22:25:16.791603,91.828540,2025-11-08T22:25:47.375774,89.513943,89.982971,94.573939,89.522895
20,21,bee76865-d097-4825-9bab-b42fefd5adbb,ICICIBANK,RSI_ICICIBANK,SHORT,closed,2025-11-08T22:25:16.934711,108.679106,2025-11-08T22:25:31.742724,111.203645,110.863774,105.429275,111.192526
21,22,aa6c4e8a-c2af-4fa3-8fc1-45d962f63d62,ASIANPAINT,RSI_ASIANPAINT,SHORT,closed,2025-11-08T22:25:31.596365,115.632057,2025-11-08T22:25:46.399238,115.704259,117.956494,112.174313,115.692690
22,23,2cd37520-00e1-494e-988c-4af5624571a9,ASIANPAINT,RSI_ASIANPAINT,SHORT,closed,2025-11-08T22:25:47.078590,115.681120,2025-11-08T22:26:01.705860,116.289791,118.006543,112.221909,116.278164
23,24,665659a5-7bf0-4b79-b4b2-b58f9d05e2f1,RELIANCE,MA_CROSS_RELIANCE,SHORT,closed,2025-11-08T22:25:47.221850,104.763263,2025-11-08T22:26:17.351979,107.846268,106.869215,100.582791,107.835485
24,25,b09b0bd6-6152-4129-8dc9-820d2a99ea47,ADANIENT,RSI_ADANIENT,SHORT,closed,2025-11-08T22:25:47.538439,111.112356,2025-11-08T22:26:02.542977,110.322790,113.345937,107.789764,110.311759
25,26,1028ad6f-0b13-4f85-a851-88a5cf25ef5a,ADANIPORTS,RSI_ADANIPORTS,LONG,open,2025-11-08T22:26:02.385720,89.430032,None,NaN,87.632668,92.103723,90.355584
26,27,0e128003-98f4-4fc0-9c6a-9da99289227d,ASIANPAINT,RSI_ASIANPAINT,SHORT,open,2025-11-08T22:26:17.201037,115.401686,None,NaN,117.721492,111.950831,115.413228

In [144]:
positions_df

,position_id,symbol,quantity,average_price,current_price,stop_loss,take_profit,strategy_id,opened_at,last_updated
0,32,ADANIPORTS,5,89.430032,89.421090,87.632668,92.103723,RSI_ADANIPORTS,None,2025-11-08T22:26:01.785092
1,33,ASIANPAINT,-5,115.401686,115.413228,117.721492,111.950831,RSI_ASIANPAINT,None,2025-11-08T22:26:16.914090