In [518]:
import sqlite3
import pandas as pd

# Connect to the SQLite database
conn = sqlite3.connect("trading.db")

# Read the tables into pandas DataFrames
orders_df = pd.read_sql("SELECT * FROM orders", conn)
positions_df = pd.read_sql("SELECT * FROM positions", conn)
fills_df = pd.read_sql("SELECT * FROM fills", conn)
portfolio_df = pd.read_sql("SELECT * FROM portfolio_state", conn)
daily_df = pd.read_sql("SELECT * FROM daily_metrics", conn)
metrics_df = pd.read_sql("SELECT * FROM strategy_metrics", conn)
trade_logs_df = pd.read_sql("SELECT * FROM trades", conn)
market_df = pd.read_sql("SELECT * FROM market_data", conn)


# Close the connection
conn.close()

In [519]:
orders_df.columns

Index(['order_id', 'symbol', 'side', 'quantity', 'order_type', 'price',
       'stop_price', 'status', 'filled_quantity', 'average_price', 'timestamp',
       'strategy_id', 'stop_loss', 'take_profit', 'created_at'],
      dtype='object')

In [520]:
positions_df.shape

(25, 10)

In [521]:
fills_df.shape

(686, 8)

In [522]:
daily_df.tail()

,id,date,opening_equity,closing_equity,high_equity,low_equity,realized_pnl,unrealized_pnl,total_pnl,commissions,trades_count,winning_trades,losing_trades,max_drawdown,peak_equity,win_rate
0,686,2025-11-09,139595.326854,133936.985483,146507.406439,133919.711443,33905.046624,31.938859,33936.985483,500.665003,6,3,1,12587.694995,146507.406439,0.5

In [523]:
portfolio_df.tail(1) ## portfolio_overview

,id,timestamp,cash,total_equity,total_value,total_realized_pnl,total_unrealized_pnl,total_pnl,total_commission,exposure,initial_capital
1371,1372,2025-11-09T22:55:32.604442,127036.222117,133936.985483,125476.286821,33905.046624,31.938859,33936.985483,500.665003,1559.935296,100000.0

In [524]:
orders_df.columns ## all trades

Index(['order_id', 'symbol', 'side', 'quantity', 'order_type', 'price',
       'stop_price', 'status', 'filled_quantity', 'average_price', 'timestamp',
       'strategy_id', 'stop_loss', 'take_profit', 'created_at'],
      dtype='object')

In [525]:
trade_logs_df.strategy_id.unique()

array(['RSI_ADANIPORTS', 'RSI_ICICIBANK', 'RSI_RELIANCE', 'ORB_ADANIENT',
       'ORB_ADANIPORTS', 'ORB_ASIANPAINT', 'ORB_ICICIBANK',
       'MA_CROSS_RELIANCE', 'RSI_ASIANPAINT', 'MA_CROSS_ADANIPORTS',
       'ORB_RELIANCE', 'ADX_ST_ADANIPORTS', 'ADX_SIG_ICICIBANK',
       'MA_CROSS_ICICIBANK', 'EMA_X_ADANIPORTS', 'RSI_ADANIENT',
       'ADX_ST_ADANIENT', 'ADX_SIG_ADANIENT', 'ADX_SIG_RELIANCE',
       'ADX_ST_ASIANPAINT', 'EMA_X_ICICIBANK', 'ADX_SIG_ASIANPAINT'],
      dtype=object)

In [526]:
# trade_logs_df[trade_logs_df['strategy_id'] == 'ORB_ADANIPORTS']
# df = trade_logs_df[trade_logs_df['status'] == 'closed']
# df[df['strategy_id'] == 'RSI_ADANIENT']

In [527]:
positions_df[positions_df['strategy_id'] == 'RSI_ADANIENT']

,position_id,symbol,quantity,average_price,current_price,stop_loss,take_profit,strategy_id,opened_at,last_updated
24,565,ADANIENT,-10,104.939605,103.481363,108.547213,103.226271,RSI_ADANIENT,2025-11-09T13:46:41.423246,2025-11-09T22:55:31.988428

In [ ]:
market_df['timestamp'] = pd.to_datetime(market_df['timestamp'], format='mixed')
market_df.sort_values('timestamp', inplace=True, ascending=True)
market_df.set_index('timestamp', inplace=True)
market_df[market_df['symbol'] == 'RELIANCE']

ValueError: time data "2025-11-07T15:00:00" doesn't match format "%Y-%m-%dT%H:%M:%S.%f", at position 871. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [ ]:
positions_df['opened_at'] = pd.to_datetime(positions_df['opened_at'])
positions_df['last_updated'] = pd.to_datetime(positions_df['last_updated'])
positions_df.sort_values('opened_at', inplace=True, ascending=False)
positions_df[['opened_at', 'strategy_id', 'average_price']].head(2)

  opened_at        strategy_id  average_price
0       NaT  ADX_ST_ADANIPORTS     100.240724
1       NaT     EMA_X_ADANIENT      86.400017

In [ ]:
positions_df.columns

Index(['position_id', 'symbol', 'quantity', 'average_price', 'current_price',
       'stop_loss', 'take_profit', 'strategy_id', 'opened_at', 'last_updated'],
      dtype='object')

In [ ]:
trade_logs_df['entry_time'] = pd.to_datetime(trade_logs_df['entry_time'])
trade_logs_df['exit_time'] = pd.to_datetime(trade_logs_df['exit_time'])
trade_logs_df.sort_values(by='entry_time', inplace=True, ascending=False)

In [ ]:

trade_logs_df[['entry_time', 'exit_time', 'strategy_id', 'trade_type', 'status']].head()

,entry_time,exit_time,strategy_id,trade_type,status
118,2025-11-09 13:58:10.726380,NaT,MA_CROSS_ADANIPORTS,LONG,open
117,2025-11-09 13:57:17.952135,NaT,ORB_ASIANPAINT,SHORT,open
116,2025-11-09 13:57:08.046999,NaT,ORB_ICICIBANK,LONG,open
115,2025-11-09 13:57:07.721516,NaT,ORB_ASIANPAINT,LONG,open
114,2025-11-09 13:57:07.069013,NaT,RSI_ASIANPAINT,LONG,open

In [ ]:
adaniports_df = market_df[market_df['symbol'] == 'ADANIPORTS']

In [ ]:
import numpy as np
adaniports_df['SMA_10'] = adaniports_df['close'].rolling(window=10).mean()
adaniports_df['SMA_30'] = adaniports_df['close'].rolling(window=30).mean()

adaniports_df['Signal'] = np.where(adaniports_df['SMA_10'] > adaniports_df['SMA_30'], 1, 0)

C:\Users\aryan\AppData\Local\Temp\ipykernel_4564\2659707378.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adaniports_df['SMA_10'] = adaniports_df['close'].rolling(window=10).mean()
C:\Users\aryan\AppData\Local\Temp\ipykernel_4564\2659707378.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adaniports_df['SMA_30'] = adaniports_df['close'].rolling(window=30).mean()
C:\Users\aryan\AppData\Local\Temp\ipykernel_4564\2659707378.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adaniports_df['Signal'] = np.where(adaniports_df['SMA_10'] > adaniports_df['SMA_30'], 1, 0)

In [ ]:
adaniports_df.tail(5)

,id,symbol,open,high,low,close,volume,SMA_10,SMA_30,Signal
timestamp,,,,,,,,,,
2025-11-09 13:57:48.100098,1451,ADANIPORTS,104.324168,108.452052,103.745969,107.308629,8569,105.037006,103.941853,1
2025-11-09 13:57:58.943874,1461,ADANIPORTS,107.308629,108.193710,105.854639,105.948146,5804,105.534212,104.179554,1
2025-11-09 13:58:09.807969,1471,ADANIPORTS,105.948146,106.724916,105.240349,105.307597,1389,105.657718,104.390059,1
2025-11-09 13:58:20.550059,1481,ADANIPORTS,105.307597,107.051933,104.809024,106.992423,1309,105.810893,104.644304,1
2025-11-09 13:58:31.321010,1491,ADANIPORTS,106.992423,107.203191,106.302213,106.899931,8067,105.751166,104.744006,1

In [ ]:
trade_logs_df.columns

Index(['trade_id', 'order_id', 'symbol', 'strategy_id', 'trade_type', 'status',
       'entry_time', 'entry_price', 'exit_time', 'exit_price', 'stop_loss',
       'take_profit', 'ltp'],
      dtype='object')

In [ ]:
trade_logs_df[(trade_logs_df['strategy_id'] == 'MA_CROSS_ADANIPORTS')]

,trade_id,order_id,symbol,strategy_id,trade_type,status,entry_time,entry_price,exit_time,exit_price,stop_loss,take_profit,ltp
118,119,9be3583f-3257-4e41-a409-a740c3531307,ADANIPORTS,MA_CROSS_ADANIPORTS,LONG,open,2025-11-09 13:58:10.726380,105.318128,NaT,NaN,103.201445,109.519901,106.899931
14,15,ae2f904b-9abe-443c-9c34-cb34b5fe75f8,ADANIPORTS,MA_CROSS_ADANIPORTS,LONG,open,2025-11-09 13:38:22.567566,96.234396,NaT,NaN,94.300278,100.073765,106.899931